<mat-card>
  <div class="header-details-card">
    <a class='title-header-card'>Import Method</a>
    <mat-form-field>
      <mat-label>Import Method</mat-label>
      <mat-select (selectionChange)="selectedHeaderChanged($event)" [(ngModel)]="importHeaders">
        <mat-option [value]="undefined">--</mat-option>
        <mat-option *ngFor="let head of improtHeadersList" [value]="head">{{head.import_name}}</mat-option>
      </mat-select>


    </mat-form-field>
    <button mat-flat-button color="primary" (click)="newImportHeader()">
      <span class="material-icons">
        add
        </span>
        {{'create_new' | translate}}
    </button>
    <button *ngIf="importHeaders != undefined && importHeaders.uuid == undefined" mat-raised-button color="primary" (click)="saveHeader()">
      <span class="material-icons">
      save
      </span> {{'save'| translate}}
    </button>

    <button *ngIf="importHeaders != undefined && importHeaders.uuid != undefined" mat-raised-button color="primary" (click)="updateHeader()">
      <span class="material-icons">
      create
      </span> {{'edit'| translate}}

    </button>

    <button *ngIf="importHeaders != undefined && importHeaders.uuid != undefined" mat-raised-button color="warn" (click)="deleteHeader()">
      <span class="material-icons">
      delete
      </span> {{'delete'| translate}}

    </button>
  </div>
  <div *ngIf="importHeaders != undefined">
   <mat-form-field class="example-full-width">
    <input [(ngModel)]="importHeaders.import_name" matInput placeholder="Import Method Name" >
  </mat-form-field>

  <mat-form-field >
    <mat-label>Import type</mat-label>
    <mat-select [(ngModel)]="importHeaders.import_format">
      <mat-option [value]="IMPORT_JSON" (onSelectionChange)="changeType($event)">
        {{ 'import_header.type_json' |translate }}
      </mat-option>

      <mat-option [value]="IMPORT_XML" (onSelectionChange)="changeType($event)">
        {{ 'import_header.type_xml' |translate }}
      </mat-option>

      <mat-option [value]="IMPORT_CSV" (onSelectionChange)="changeType($event)">
        {{ 'import_header.type_csv' |translate }}
      </mat-option>

      <mat-option [value]="IMPORT_TSV" (onSelectionChange)="changeType($event)">
        {{ 'import_header.type_tsv' |translate }}
      </mat-option>

      <mat-option [value]="IMPORT_CUSTOM" (onSelectionChange)="changeType($event)">
        {{ 'import_header.type_others' |translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="importHeaders.import_format == IMPORT_CUSTOM">
    <mat-label>Record Separator</mat-label>
    <mat-select [formControl]="recordSeparator" multiple>
      <mat-option (onSelectionChange)="change(RECORD_EDIT,$event)" [value]="CARRIAGE_RETURN_VALUE">Carriage Return</mat-option>
      <mat-option (onSelectionChange)="change(RECORD_EDIT,$event)" [value]="NEW_LINE_VALUE">New Line</mat-option>
      <mat-option (onSelectionChange)="change(RECORD_EDIT,$event)" [value]="TABULATION_VALUE">Tabulation</mat-option>
      <mat-option (onSelectionChange)="change(RECORD_EDIT,$event)" [value]="PIPE_VALUE">Pipe</mat-option>
      <mat-option (onSelectionChange)="change(RECORD_EDIT,$event)" [value]="SEMICOLON_VALUE">Semicolon</mat-option>
      <mat-option (onSelectionChange)="change(RECORD_EDIT,$event)" [value]="COMMA_VALUE">Comma</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="importHeaders.import_format == IMPORT_CUSTOM">
    <mat-label>Field Separator</mat-label>
    <mat-select [formControl]="fieldSeparator" multiple>
      <mat-option (onSelectionChange)="change(FIELD_EDIT,$event)" [value]="TABULATION_VALUE">Tabulation</mat-option>
      <mat-option (onSelectionChange)="change(FIELD_EDIT,$event)" [value]="PIPE_VALUE">Pipe</mat-option>
      <mat-option (onSelectionChange)="change(FIELD_EDIT,$event)" [value]="SEMICOLON_VALUE">Semicolon</mat-option>
      <mat-option (onSelectionChange)="change(FIELD_EDIT,$event)" [value]="COMMA_VALUE">Comma</mat-option>
    </mat-select>
  </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Date Format</mat-label>
      <input [(ngModel)]="importHeaders.import_date_format" matInput placeholder="YYYY-MM-DD">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Datetime Format</mat-label>
      <input [(ngModel)]="importHeaders.import_datetime_format" matInput placeholder="YYYY-MM-DD HH-MM-DD">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Preview Lines</mat-label>
      <input [(ngModel)]="importHeaders.import_row_preview" type="number" matInput placeholder="0">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Skip Lines</mat-label>
      <input [(ngModel)]="importHeaders.import_row_ignore" type="number" matInput placeholder="0">
    </mat-form-field>



    <div>

      <button [disabled]="fileReaded == undefined" (click)="readFile()" mat-raised-button color="primary">
        <span class="material-icons">
          system_update_alt
          </span> Load File
      </button>


      <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="addAttachment($event)"/>
      <button mat-flat-button color="primary" (click)="csvInput.click()"><span class="material-icons">
        file_copy
        </span>Add File</button>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="importHeaders.import_source_filename" matInput placeholder="File Name" readonly>
        </mat-form-field>

    </div>
    <mat-form-field >
      <mat-label [(ngModel)]="tableName">Table Selection</mat-label>
      <mat-select >
        <mat-option value="journal_entry" (onSelectionChange)="changeTable($event)">
          {{ 'journal_entry.table_name_label' |translate }}
        </mat-option>

      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" *ngIf="this.tempDocument == undefined" (click)="createPiece()"><span class="material-icons">
      file_copy
      </span>Create Piece</button>

      <button mat-flat-button color="primary" *ngIf="this.tempDocument != undefined" (click)="editPiece()"><span class="material-icons">
        file_copy
        </span>Edit Piece</button>

        <div>
          <button mat-flat-button color="primary" [disabled]="this.tempDocument == undefined" (click)="startMapping()"><span class="material-icons">
            file_copy
            </span>Start Import</button>
        </div>

    </div>




</mat-card>

<div *ngIf="importHeaders != undefined" style="overflow: auto;">
  <div *ngIf="fileRecordList != undefined && selectedModel != undefined" cdkDropList cdkDropListOrientation="horizontal" class="example-list" cdkDropListSortingDisabled>
    <div class="example-box" *ngFor="let field of fieldList" cdkDrag><mat-list role="list">
      <mat-list-item align="end" role="listitem">{{'journal_entry'+'.'+field.name | translate}} <span (click)="removeHeader(fieldList.indexOf(field))" class="material-icons del-action">
        remove_circle
        </span></mat-list-item>
    </mat-list></div>
  </div>

  <div *ngIf="fileRecordList != undefined" cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)" >
    <div class="example-box" *ngFor="let arr of displayArr" cdkDrag><mat-list role="list">
      <div *ngIf="importHeaders.import_format != IMPORT_JSON && importHeaders.import_format != IMPORT_XML">
        <mat-list-item  *ngFor="let i of arr" role="listitem" >{{i}} <span *ngIf="arr.indexOf(i) == 0" (click)="removeDataList(displayArr.indexOf(arr))" class="material-icons del-action">
          remove_circle
          </span></mat-list-item>
      </div>

      <div *ngIf="importHeaders.import_format == IMPORT_JSON || importHeaders.import_format == IMPORT_XML">
        <mat-list-item  role="listitem">{{arr}}</mat-list-item>
      </div>
    </mat-list></div>
  </div>
</div>

