.mat-card{
  margin: 5px;
}

.mat-form-field{
  margin : 5px;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-list{
  width: 100%
}

.mat-list-item{
  width: 100%;
}

::ng-deep .mat-list-item-content{
  justify-content: space-between;
}

.title-header-card{
  font-size: 16pt;
  font-weight: 500;
  margin-right: 15px;
}

::ng-deep .mat-list-item-content{
  overflow: hidden;

}

button{
  margin: 5px;
}
.example-box:last-child {
  border: none;
}

.header-details-card{

}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-flat-button{
  margin-left: 5px;
}

.del-action{
  cursor: pointer;
}
.example-list {
  width: fit-content;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: initial;
}
.example-box:not(.cdk-drag-preview){
  transform: none !important;

}

.example-box:not(.cdk-drag-preview):hover{
  transform: none !important;
  background-color: #bac4ea;
}
.example-box {
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  flex-shrink: 0 !important;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  width: 150px;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 150px;
  max-width: 150px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}


.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {

}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {

  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
