@import '../app.component.css';

.table-detail-panel {
  padding-right: 10px;
  padding-left: 10px;}

.mat-table {
  width: 100%;
  text-align: center !important;
  padding-left: 10px;
  margin-top: 10px;

}
.mat-header-cell {
  text-align: center;
  margin: 5px;
  font-size: 0.8em;
}

.mat-row:hover {
  background-color: #c8e3ef;
  color: black;
}

.mat-row:hover .table-cell-content{
  background-color: #c8e3ef;
  color: black;
}

.is-item-active {
  background-color: #3F5476;
  color: white;
}
.is-item-active>.mat-cell {
  color: white;
}
.is-item-active .button-edit {
  color: white;
}

.mat-row:hover .button-edit{
  color: #56618c;
}


.mat-column-action {
  text-align: right;
  min-width: 100px !important;
  width: 100px !important;
}

.table-cell-content {
  font-size: 0.8em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  overflow: hidden;
}





