
<div class="table-detail-panel">
<h3>{{ tableName +'.table_name_label' | translate }}</h3>
<table #UldListTable mat-table *ngIf="dataSourceRow" [dataSource]="dataSourceRow" class="mat-elevation-z4" matSort>


  <ng-container *ngFor="let fieldRecord of fieldList" [matColumnDef]="fieldRecord.name">
    <th mat-header-cell *matHeaderCellDef [style.width.%]="getColumnWidth(fieldRecord.name)">   {{ tableName + '.' + fieldRecord.name | translate }}</th>
    <td mat-cell *matCellDef="let element">

      <div class="table-cell-content">
        <div>
          <span class="cell-span-value">{{ getCellValue(element, fieldRecord.name) }}</span>
        </div>
        <div *ngIf="tableInfo.field_access.get(fieldRecord.name) === modelSettings.FIELD_CHECKBOX">
          <mat-icon>{{ getCellIcon(element, fieldRecord.name) }}</mat-icon>
        </div>
      </div>
    </td>
  </ng-container>

<!-- Actions -->
<ng-container matColumnDef="action">
  <!-- Add -->
  <th mat-header-cell *matHeaderCellDef>
    <button mat-icon-button color="primary" (click)="handleRowAdd()">
      <mat-icon aria-label="Add">add_circle_outline</mat-icon>
    </button>
  </th>
  <td mat-cell *matCellDef="let element">
    <div class="table-data-content">
    <!-- Edit -->
    <button class="button-edit" color="accent" mat-icon-button (click)="handleRowEdit(element)" >
      <span class="material-icons">
        create
        </span>

    </button>
    <!-- Delete -->
    <button mat-icon-button color="warn" (click)="handleRowDel(element)" >
      <mat-icon aria-label="Delete">delete</mat-icon>
    </button>
  </div>
  </td>
</ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: false"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
  [ngClass]="{'is-item-active': selectedRowIndex == row[tableInfo.id_field]}"
  (click)="tableRowClick(row)"
        ></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
