
<h1 mat-dialog-title>{{data.title}}</h1>

<div mat-dialog-content>
  <h3>{{data.label}}</h3>
  <mat-form-field>
    <input matInput [(ngModel)]="data.value" (keydown.enter)="onEnterKey($event)" autofocus>
  </mat-form-field>
</div>

<div mat-dialog-actions class="div-generic-flex-row" align="end">
  <button mat-raised-button color="basic" mat-button  (click)="onCancel()">{{ 'cancel' | translate }} </button>
  <button mat-raised-button color="accent" mat-button [mat-dialog-close]="data.value">{{ 'ok' | translate }} </button>
</div>

