/*@import "../custom-theme.scss";*/

/* .main-sidenav-container{
    display: flex;
    flex-direction: column;
} */

h3 {
  color: #3f5476;
}

.mat-drawer-container{
  height: calc(100% - 64px);
}

.example-sidenav-content {
  display: flex;
  min-height: 300px;
  align-items: center;
  justify-content: center;


}

.info-snackbar {
  background: #5bc0de;
  color: white;
}

.warning-snackbar {
  background: #f0ad4e;
  color: white;
}

.error-snackbar {
  background: #d9534f;
  color: white;
}

.success-snackbar {
  background: #5cb85c;
  color: white;
}

.example-sidenav{
 border-right: solid 1px #3f5476;
}

.mat-tree{
  background-color: #d7dff7;
  min-height: 300px;
  overflow: hidden;
  min-width: 250px;
  height: 100%;
}

.mat-tree-node:hover{
  color: white;
  background-color: #3f5476;
}
.mat-tree-node{
  padding-right: 10px;
}

.menu_text_div {
  display: flex;
  flex-direction: column;
  padding: 0x;
  margin: 0px;
}

.menu_title {
  font-size: 1em;
  margin: 0px 0px 2px 0px;
  padding: 0px;
}

.menu_subtitle {
  font-size: 0.8em;
  margin: 2px 0px 0px 0px;
  padding: 0px;
}

.is-item-active,
.mat-list-item:focus {
  background-color: #3F5476;
  color: white;
}

.is-item-active .table-data-content {
  background-color: #3F5476;
  color: white;
}

.custom-icon-black,
.custom-icon-white {
  height: 24px;
  width: 24px;
}

.custom-icon-white {
  display: none;
}

mat-list-item.is-item-active .custom-icon-black {
  display: none;
}

mat-list-item.is-item-active .custom-icon-white {
  display: block;
}

mat-list-item:hover .custom-icon-black {
  display: block;
}

mat-list-item:hover .custom-icon-white {
  display: none;
}

.mat-list-item:hover {
  background-color: #c8e3ef;
  color: black;
}

.mat-sidenav-container {
  /* min-height: 100%; */
  max-width: 100%;
  transform: none;
  height: auto !important;
}

.mat-sidenav-content {
  padding-left: 10px;
  padding-right: 10px;
}

.main-sidenav {
  /* display: flex; */
  /* flex-direction: column; */
  /* width: auto; */
  /* height: 100%; */
  min-width: 300px;
}

.mat-list-base {
  padding-top: 0px;
}

/* Mat-table */
.mat-table {
  width: 100%;
  margin-top: 1em;
}

.mat-row:hover {
  background-color: #c8e3ef;
  color: black;
}

.mat-row:hover .table-data-content{
  background-color: #c8e3ef;
  color: black;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.table-data-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
}

td {
  max-width: 0px;
}

#outer {
  width: 100%;
  height: 100%;
}

#flight_shortlist {
    position: absolute;
    top: 340px;
    bottom: 0;
    width: 100%;
    overflow: auto;
}

.flight-title {
    position: -webkit-sticky;
    position: sticky;
    margin-left: 1.5em;
    margin-top: 0.4em;
    height:2em;
}

.div-generic-flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.div-generic-flex-col {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.label-title {
    margin: 0.5em;
    font-weight: bold;
}

.label-value {
    margin: 0.5em;
}



/* label style */
.mat-tab-label{
  background: green;
  color:white;
}
/* focus style */
.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus{
  background: red;
}
/* ink bar style */
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: yellow;
  height: 10px;
}

.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: white;
  padding: 0px;
}

