<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <button *ngIf="userService.isLoggedIn()" type="button" aria-label="Toggle sidenav" mat-icon-button
  (click)="drawer.toggle()">
  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
</button>

  <span>{{ title }}</span>


  <img height="24px" width="24px" style="padding-left:10px; padding-right: 4px"
    src="assets/images/country-flags/united-kingdom.png" (click)="translate.use('en')" alt="uk">
  <img height="24px" width="24px" style="padding-left:0px; padding-right: 0px"
    src="assets/images/country-flags/france.png" (click)="translate.use('fr')" alt="france">


  <span fxFlex></span>




  <mat-icon style=" font-size:28px; padding-right: 1em; cursor: pointer;" fontSet="fa" fontIcon="fa-id-card" *ngIf="userService.isLoggedIn()"></mat-icon>
  <button color="warn" *ngIf="!userService.isLoggedIn()" mat-mini-fab [routerLink]="['login']">
    <mat-icon>person</mat-icon>
  </button>
  <button color="warn" *ngIf="userService.isLoggedIn()" mat-mini-fab (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>

</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
<mat-drawer #drawer class="example-sidenav" mode="side">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node (click)="drawer.toggle()" *matTreeNodeDef="let node" [routerLink]="node.link"  matTreeNodePadding>
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      {{ 'node_nav.'+node.name | translate}}
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node (click)="drawer.toggle()" matTreeNodeToggle *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
        [attr.aria-label]="'toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <span class="material-icons">
      accessibility
      </span>{{ 'node_nav.'+node.name | translate}}
    </mat-tree-node>
  </mat-tree>
</mat-drawer>



<router-outlet></router-outlet>

</mat-drawer-container>
