<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-divider></mat-divider>

<mat-dialog-content>
  <div id="dialog-message">
    {{ data.message }}
  </div>
</mat-dialog-content>

<div mat-dialog-actions class="div-generic-flex-row" align="end">
  <button mat-raised-button color="basic" mat-button  (click)="onCancel()" *ngIf="!data.hideCancel">{{ (data.yesNoButtons ? 'no' : 'cancel') | translate }} </button>
  <button mat-raised-button color="accent" mat-button [mat-dialog-close]="1" (click)="onValidate()">{{ (data.yesNoButtons ? 'yes' : 'ok') | translate }} </button>
</div>
