<!--div class="form-container"-->
  <h2 mat-dialog-title>{{  formData.tableName + '.table_name_label' | translate }}</h2>


<mat-dialog-content id="div-form-fields">
  <mat-divider></mat-divider>
  <div *ngFor="let field of formFields | keyvalue: asIsOrder">

  <div class="div-form-line"  *ngIf="isFieldDisplayed(field)">

    <div class="div-field-name">
      <span class="field-name">{{ (tableFormData.translationClassName + '.' + field.key) | translate }}</span>
      <span class="mandatory-mark" *ngIf="isFieldRequired(field.key)">*</span>
    </div>

    <div class="div-field-value">

      <!--<span class="field-value-label" *ngIf="field.value == modelSettings.FIELD_READONLY">{{ formatFieldValue(formRecord[field.key]) }} </span>-->
      <input [id]="'input_' + field.key" matInput class="field-value-input"  *ngIf="field.value == modelSettings.FIELD_INPUT"  [(ngModel)]="formRecord[field.key]" [disabled]="tableSchema.non_editable_fields.indexOf(field.key) != -1" autofocus>
      <textarea [id]="'textarea_' + field.key" matInput class="field-value-textarea" rows="5"  *ngIf="field.value == modelSettings.FIELD_TEXTAREA" [(ngModel)]="formRecord[field.key]" [disabled]="tableSchema.non_editable_fields.indexOf(field.key) != -1" autofocus></textarea>
      <mat-select [id]="'select_' + field.key" class="field-value-select" *ngIf="field.value == modelSettings.FIELD_SELECTION" [(ngModel)]="formRecord[field.key]" [disabled]="tableSchema.non_editable_fields.indexOf(field.key) != -1" (selectionChange)="onSelectionChange($event, field.key)">
      <!--mat-option *ngFor="let comboItem of referenceTables[field.key].tableRecords" [value]="comboItem[referenceTables[field.key].main_displayed_field]"-->
        <mat-option *ngFor="let comboItem of referenceTables[field.key].tableRecords" [value]="comboItem[foreignKeys.get(field.key)]">
              {{ getItemText(referenceTables[field.key], comboItem) }}
        </mat-option>
      </mat-select>
      <mat-checkbox [id]="'checkbox_' + field.key" class="field-value-checkbox" (change)="formRecord[field.key] = $event.checked ? 1: 0" *ngIf="field.value == modelSettings.FIELD_CHECKBOX" [disabled]="tableSchema.non_editable_fields.indexOf(field.key) != -1" [(ngModel)]="formRecord[field.key]"></mat-checkbox>
      <mat-form-field   *ngIf="field.value == modelSettings.FIELD_DATE" appearance="fill">
        <input [id]="'input_' + field.key" matInput class="field-value-input datepicker" [(ngModel)]="formRecord[field.key]" [disabled]="tableSchema.non_editable_fields.indexOf(field.key) != -1" matInput [matDatepicker]="dp">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle >
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
    </div>

  </div>

</div>
</mat-dialog-content>


<!--div class="sticky-actions"-->
  <div mat-dialog-actions class="div-generic-flex-row" align="end">
   <!-- <button mat-raised-button color="basic" mat-button  (click)="consoleLog()">CONSOLE LOG </button>-->
    <button mat-raised-button color="basic" mat-button  (click)="onCancel()">{{ 'cancel' | translate }} </button>
    <button mat-raised-button color="accent" mat-button (click)="onValidateForm()">{{ 'ok' | translate }} </button>
  </div>
<!--/div-->
<!--/div-->
