.mat-card{
  margin: 5px;
}


.mat-form-field{
  margin-right: 15px;

}
.mat-form-field:hover{
 cursor: pointer;

}

.datepicker:hover{
  cursor: pointer;
}

.mat-raised-button{
  margin-left: 15px;
}
.field-value-input,
.field-value-textarea {
    width: 90%;
    padding: 10px;
}

