<mat-card>
  <h3 color="warn">{{'filters' | translate}}</h3>
  <mat-form-field (click)="dp.open()">
    <input [(ngModel)]='selectedDate' (dateChange)="dateChanged()" matInput class="field-value-input datepicker" matInput [matDatepicker]="dp" placeholder="{{'date' | translate}}" readonly>

    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle >
    <mat-datepicker #dp disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select [disabled]="current_period == undefined" (selectionChange)="journalChanged()" [(ngModel)]='selectedJournal' [formControl]="journalGroupControl" placeholder="Journal" #singleSelect>
      <mat-option>
        <ngx-mat-select-search placeholderLabel="{{'search' | translate}}" [formControl]="journalGroupsFilterCtrl"></ngx-mat-select-search>
      </mat-option>
      <mat-optgroup *ngFor="let group of journalsGrouped" [label]="group.type.journal_type_name">
        <mat-option *ngFor="let journal of group.journals" [value]="journal">
          {{journal.journal_name}}
        </mat-option>
      </mat-optgroup>
    </mat-select >
  </mat-form-field>

  <mat-form-field>
    <mat-select color="warn" [disabled]="pieces_available == undefined" (selectionChange)="pieceChanged($event)" [(ngModel)]='selectedPiece' [formControl]="bankCtrl" placeholder="{{'journal_entry.journal_entry_item' | translate}}" #singleSelect>
      <mat-option [value]="undefined">
         --
      </mat-option>

      <mat-option *ngFor="let number of pieces_available" [value]="number">
        {{number.journal_piece_id}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button *ngIf="current_journal != undefined && selectedPiece == undefined" mat-raised-button color="warn" (click)="newJournalPiece()">
    <span class="material-icons">
    add
    </span> {{'create_new'| translate}}
  </button>

  <button *ngIf="selectedPiece != undefined" mat-raised-button color="warn" (click)="handlePieceEdit()">
    <span class="material-icons">
    create
    </span> {{'edit'| translate}}
  </button>

  <button *ngIf="selectedPiece != undefined" mat-raised-button color="primary" (click)="deletedJournalPiece()">
    <span class="material-icons">
    delete
    </span> {{'delete'| translate}}
  </button>

  <button *ngIf="isNewPiece" mat-raised-button color="primary" (click)="saveAct()">
    <span class="material-icons">
    save
    </span> {{'save'| translate}}
  </button>

  <button *ngIf="selectedPiece != undefined || isNewPiece" mat-raised-button color="primary" (click)="closePiece()">
    <span class="material-icons">
    close
    </span> {{'close'| translate}}
  </button>


</mat-card>

<app-table-entry *ngIf="selectedPiece != undefined && current_journal != undefined" [current_piece]='selectedPiece' [isNewPiece]="isNewPiece" [isSaveAction]="saveAction"></app-table-entry>

