
<mat-tab-group>

  <mat-tab [label]="table_accounting_period+'.table_name_label' | translate" > <app-table-details [tableName]="table_accounting_period"></app-table-details> </mat-tab>

  <mat-tab [label]="table_accounting_parameter+'.table_name_label' | translate"> <app-table-details [tableName]="table_accounting_parameter"></app-table-details>  </mat-tab>

  <mat-tab [label]="table_nationality+'.table_name_label' | translate"> <app-table-details [tableName]="table_nationality"></app-table-details>  </mat-tab>

  <mat-tab [label]="table_journal_type+'.table_name_label' | translate"> <app-table-journal-type [tableName]="table_journal_type"></app-table-journal-type>  </mat-tab>

  <mat-tab [label]="table_account_type+'.table_name_label' | translate"> <app-table-account-type [tableName]="table_account_type"></app-table-account-type>  </mat-tab>

  <mat-tab [label]="table_account+'.table_name_label' | translate"> <app-table-details [tableName]="table_account"></app-table-details>  </mat-tab>

  <mat-tab [label]="table_journal+'.table_name_label' | translate"> <app-table-details [tableName]="table_journal"></app-table-details>  </mat-tab>

  <mat-tab [label]="table_tax+'.table_name_label' | translate"> <app-table-tax [tableName]="table_tax"></app-table-tax>  </mat-tab>

  <mat-tab [label]="table_vat+'.table_name_label' | translate"> <app-table-vat [tableName]="table_vat"></app-table-vat>  </mat-tab>

</mat-tab-group>
