
<div class="table-detail-panel">
  <h3>{{ 'journal_entry.table_name_label' | translate }}</h3>
  <table #UldListTable mat-table *ngIf="dataSourceRow" [dataSource]="dataSourceRow" class="mat-elevation-z4" matSort>

    <!-- Sequence Column -->
  <ng-container matColumnDef="journal_entry_line">
    <th mat-header-cell *matHeaderCellDef >   {{ 'journal_entry.journal_entry_line'| translate }}</th>
    <td mat-cell *matCellDef="let element">

      <div class="table-cell-content">
        <div>
          <span class="cell-span-value">{{element.journal_entry_line}}</span>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- Item Column -->
  <ng-container matColumnDef="journal_entry_item">
    <th mat-header-cell *matHeaderCellDef >   {{ 'journal_entry.journal_entry_item'| translate }}</th>
    <td mat-cell *matCellDef="let element">

      <div class="table-cell-content">
        <div>
          <span class="cell-span-value">{{ element.journal_entry_item }}</span>
        </div>
      </div>
    </td>
  </ng-container>





  <!-- Commentaire Column -->
  <ng-container matColumnDef="journal_entry_comment">
    <th mat-header-cell *matHeaderCellDef >   {{ 'journal_entry.journal_entry_comment'| translate }}</th>
    <td mat-cell *matCellDef="let element">

      <div class="table-cell-content">
        <div>
          <span class="cell-span-value">{{ element.journal_entry_comment }}</span>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- Account Column -->
  <ng-container matColumnDef="account_id">
    <th mat-header-cell *matHeaderCellDef >   {{ 'journal_entry.account_id'| translate }}</th>
    <td mat-cell *matCellDef="let element">

      <div class="table-cell-content">
        <div>
          <span class="cell-span-value">{{ element.account_id }}</span>
        </div>

      </div>
    </td>
  </ng-container>

  <!-- Debit Column -->
  <ng-container matColumnDef="debit">
    <th mat-header-cell *matHeaderCellDef >   {{ 'journal_entry.debit'| translate }}</th>
      <td mat-cell *matCellDef="let element">

        <div class="table-cell-content">
          <div>
            <span class="cell-span-value">{{ element.debit }}</span>
          </div>
        </div>
      </td>
  </ng-container>

  <!-- Credit Column -->
  <ng-container matColumnDef="credit">
    <th mat-header-cell *matHeaderCellDef >   {{ 'journal_entry.credit'| translate }}</th>
    <td mat-cell *matCellDef="let element">

      <div class="table-cell-content">
        <div>
          <span class="cell-span-value">{{ element.credit }}</span>
        </div>
      </div>
    </td>
  </ng-container>
<!-- Due Date Column -->
<ng-container matColumnDef="journal_entry_due_date">
  <th mat-header-cell *matHeaderCellDef >   {{ 'journal_entry.journal_entry_due_date'| translate }}</th>
  <td mat-cell *matCellDef="let element">

    <div class="table-cell-content">
      <div>
        <span class="cell-span-value">{{ dateToString(element.journal_entry_due_date) }}</span>
      </div>
    </div>
  </td>
</ng-container>


  <!-- Actions -->
  <ng-container matColumnDef="action">
    <!-- Add -->
    <th mat-header-cell *matHeaderCellDef>
      <button [disabled]="_current_piece == undefined " mat-icon-button color="primary" (click)="handleRowAdd()">
        <mat-icon aria-label="Add">add_circle_outline</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="table-data-content">
      <!-- Edit -->
      <button class="button-edit" color="accent" mat-icon-button (click)="handleRowEdit(element)" >
        <span class="material-icons">
          create
          </span>

      </button>
      <!-- Delete -->
      <button mat-icon-button color="warn" (click)="handleRowDel(element)" >
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </div>
    </td>
  </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: false"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="{'is-item-active': selectedRowIndex == row.uuid}"
    (click)="tableRowClick(row)"
          ></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>


<!--<mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>-->
